<div class="toolbar">
    <button  (click)="showTextarea = true" *ngIf="!showTextarea" class="toolbar-button">Add List
    <i class="fas fa-add"></i></button>
  <div *ngIf="showTextarea" class="toolbar-input">
    <textarea [(ngModel)]="newListName" placeholder="Enter list name"></textarea>
      <button class="addbtn" (click)="addList()">Add List</button>
      <button class="cancelbtn" (click)="cancelAddList()">
        <i class='fas fa-times' style='font-size:17px;'></i></button>
      </div>
  <button class="popupbtn" (click)="openForm()"> Choose member of project</button>
  </div>
<div *ngIf="showForm" class="overlay">
  <div class="popup-form">
    <label>
      <h4>Choose a member</h4>
    </label>
    <div class="custom-select-trigger" (click)="toggleDropdown()">
      <button>{{ selectedMemberText || '--Select a member--' }}</button>
    </div>

    <ul *ngIf="dropdownOpen" class="custom-dropdown">
      <li *ngFor="let member of members" (click)="onMemberSelected(member)">
        {{ member }}
      </li>
    </ul>
    <br>
    <div style="margin-top: 20px;" *ngFor="let member of selectedMembers">
      <div>{{ member }}</div>
    </div>
    <button class="addbtn" (click)="addMember()">Add</button>
    <button (click)="closeForm()" style="margin: 10px">Close</button>
  </div>
</div>
<div class="list-container" *ngFor="let list of lists; let i = index">
  <div class="card">
    <h3 style="margin-left:8px">{{ list }}</h3>
    <button (click)="showTaskInput[i] = true" *ngIf="!showTaskInput[i]" class="cardbtn">Create Task
      <i class="fas fa-add"></i></button>
    <!-- Cancel button with icon -->
    <button (click)="removeList(i)" class="cancel-button">
      <i class='fas fa-times' style='font-size:30px;'></i><!-- This shows the cancel (X) icon -->
    </button>
  </div>
</div>

