.toolbar {
  background-color: #e0e8e8;
  padding: 17px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.toolbar-button {
  width: 180px;
  height: 35px;
  margin-left:65%;
  background-color: #20acb0;
  color: white;
}
.toolbar-button1 {
  width: 125px;
  height: 35px;
  margin-left:65%;
  background-color:  #20acb0;
  color: white;
}
.toolbar-input {
  display: flex;
  flex-direction: column;
  margin-left: 65%;
}

.button-container {
  gap: 10px;
  margin-top: 5px;
}

.card {
  width: 400px;
  height: 100px;
  margin: 15px;
}
.list-container{
  display: inline-block;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 200px;

}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
