<div class="container mt-5">
  <div class="w-100 d-flex justify-content-end">
    <button class="btn btn-primary mb-3 me-0" (click)="openModal()">
      Create Project <i class="fas fa-add"></i>
    </button>
  </div>
  <!--modal-->
  <div class="modal" tabindex="-1" [ngClass]="{ 'd-block': isModalOpen }" (click)="closeModal()">
    <div class="modal-dialog" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ isEditMode ? "Update Project" : "Create New Project" }}
          </h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form >
            <div class="mb-3">
              <label for="projectName" class="form-label">Project Name</label>
              <input type="text" id="projectName" class="form-control" [(ngModel)]="projectName" name="projectName"
                required />
            </div>
            <div class="mb-3">
              <label for="start_date" class="form-label">Project Start Date</label>
              <input type="date" id="start_date" class="form-control" [(ngModel)]="start_date" name="start_date" required />
            </div>
            <div class="mb-3">
              <label for="end_date" class="form-label">Project End Date</label>
              <input type="date" id="end_date" class="form-control" [(ngModel)]="end_date" name="end_date" required />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea type="text" id="description" class="form-control" [(ngModel)]="description" name="description" required ></textarea>
            </div>
            <div class="mb-3">
              <label for="projectManagerId" class="form-label">Project Manager</label>
              <select id="projectManagerId" class="form-select dropdown dropdown-menu-dark" [(ngModel)]="projectManagerId" name="projectManagerId" required>
                <option disabled value="">Select a PM</option>
                <option *ngFor="let pm of pms" [value]="pm.id">{{ pm.name }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">
            Cancel
          </button>
          <button type="button"  class="btn btn-primary" (click)="createOrUpdateProject()">
            {{ isEditMode ? "Update Project" : "Create Project" }}
          </button>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="isAlertVisible" [ngClass]="{'alert-success': alertType === 'success', 'alert-error': alertType === 'error'}" class="alert">
    {{ alertMessage }}
  </div>

    <!-- Projects Table -->
    <table class="table table-striped table-bordered ">
      <thead>
      <tr>
        <th>Project Name</th>
        <th>Project Manager</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td>{{ project.projectManager }}</td>

          <td>
              <p-button class="details" (onClick)="showDetails(project)" label="view details" />
              <!-- <p-dialog header="Project Details" [(visible)]="visible" [modal]="true" [style]="{ width: '400px' }">
                <p><b>Project:</b> {{project.projectName}}</p>
                <p><b>Project Manager:</b> {{project.projectManager}}</p>
                <p><b>Start Date:</b> {{project.start_date}}</p>
                <p><b>End Date:</b> {{project.end_date}}</p>
                <div class="member-list-container">
                  <h3>List of Members</h3>
                  <div class="member-list">
                    <div class="member-item" *ngFor="let user of project.assignedUsers">
                      {{ user.name }}
                    </div>
                  </div>
                </div>
                
                <button pButton class="close" label="Close" (click)="closeDialog()"></button>
              </p-dialog> -->
              <p-dialog header="Project Details" [(visible)]="visible" [modal]="true" [style]="{ width: '400px' }">
                <p><b>Project:</b> {{viewedProject?.projectName}}</p>
                <p><b>Project Manager:</b> {{viewedProject?.projectManager}}</p>
                <p><b>Start Date:</b> {{viewedProject?.start_date }}</p>
                <p><b>End Date:</b> {{viewedProject?.end_date}}</p>
                <div class="member-list-container">
                  <h3>List of Members</h3>
                  <div class="member-list">
                    <div class="member-item" *ngFor="let user of viewedProject?.assignedUsers">
                      {{ user.name }}
                    </div>
                  </div>
                </div>
                
                <button pButton class="close" label="Close" (click)="closeDialog()"></button>
              </p-dialog>
          </td>

        <td>
          <button class="btn btn-update btn-md" (click)="openModal(true, project)">Update</button>
        </td>
        <td>
          <button class="btn btn-danger btn-md" (click)="confirmDeleteProject(project.project_id?project.project_id:0)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

</div>
