.sidebar{
  background-color:#333;
}
.sidebar .nav-link {
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
  border-bottom:1px solid #484848;
}

.sidebar .nav-link:hover {
  background-color: #495057;
  color: #ffffff;
}

.sidebar .nav-link.active {
  background-color: #6c757d;
  color: #ffffff;
}
