<div class=" text-white p-3 sidebar" style="width: 200px; height:90vh;">
  <ul class="nav flex-column mt-5">
    <li class="nav-item mb-4">
      <a class="nav-link text-white" routerLink="/admin">
        <i class="fas fa-dashboard me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item mb-4">
      <a class="nav-link text-white" routerLink="projects">
        <i class="fas fa-folder me-2"></i> Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="users">
        <i class="fas fa-users me-4"></i> Users
      </a>
    </li>
  </ul>
</div>
