<div class="d-flex align-items-start pt-2 flex-wrap">
    <!-- to do -->
  <div class="example-container ">
    <div class="task">
      <h2>To do</h2>
      <i class="fas fa-tasks"></i>    
    </div>
    <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        class="example-list to-do"
        (cdkDropListDropped)="drop($event)"
        >
        <div *ngFor="let item of todo; let i = index" class="example-box" cdkDrag (click)="editTask(item, todo)">
          <div class="d-flex flex-column">
            <div>{{ item.title }}</div>
            <div style="color:#7352de">
              {{ getMemberNames(item.assignedTo!) }}
            </div>         
          </div>
          @if(roleId ==2){
          <button class="delete-btn" (click)="deleteTask(item.cardId!,$event)">
            <i class="fas fa-trash"></i>
          </button>
        }
        </div>
        @if(roleId ==2){
          <p-button styleClass="btn btn-success" (onClick)="openDialog(todo)" label="create task" />
        }
    </div>  
  </div>
<!-- in progress -->
  <div class="example-container ">
    <div class="task">
    <h2>In Progress</h2>
    <i class="fas fa-spinner"></i>
    </div>
        <div
            cdkDropList
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[doneList, todoList]"
            class="example-list in-progress"
            (cdkDropListDropped)="drop($event)"
            >
            <div *ngFor="let item of inProgress; let i = index" class="example-box" cdkDrag (click)="editTask(item, inProgress)">
              <div class="d-flex flex-column">
                <div>{{ item.title }}</div>
                <div style="color:#7352de">
                  {{ getMemberNames(item.assignedTo!) }}
                </div>         
              </div>
              @if(roleId ==2){
                <button class="delete-btn" (click)="deleteTask(item.cardId!,$event)">
                  <i class="fas fa-trash"></i>
                </button>
              }
            </div>
        </div>
  </div>

  <!-- done -->
  <div class="example-container ">
    <div class="task">
    <h2>Done</h2>
    <i class="fas fa-check-circle"></i>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      class="example-list done"
      (cdkDropListDropped)="drop($event)"
      >
      <div *ngFor="let item of done; let i = index" class="example-box" cdkDrag (click)="editTask(item, done)">
        <div class="d-flex flex-column">
          <div>{{ item.title }}</div>
          <div style="color:#7352de">
            {{ getMemberNames(item.assignedTo!) }}
          </div>         
        </div>
        @if(roleId ==2){
        <button class="delete-btn" (click)="deleteTask(item.cardId!,$event)">
          <i class="fas fa-trash"></i>
        </button>
      }
    </div>
    </div>
  </div>

  <!-- Dialog -->
  <p-dialog
    header="Create Task"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '30vw' }"
  >
    <div class="p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input id="title" type="text" pInputText [(ngModel)]="newTask.title" [disabled]="roleId==3"  required/>
      </div>
      <div class="p-field">
        <label for="description">Description</label>
        <textarea id="description" type="text" pInputText [(ngModel)]="newTask.description" [disabled]="roleId==3" required></textarea>
      </div>
      <div class="p-field">
        <label for="startDate">Start Date</label>
        <input id="startDate" type="date" pInputText [(ngModel)]="newTask.createAt" [disabled]="roleId==3" required/>
      </div>
      <div class="p-field">
        <label for="endDate">End Date</label>
        <input id="endDate" type="date" pInputText [(ngModel)]="newTask.dueDate" [disabled]="roleId==3" required/>
      </div>
      <div class="p-field mt-2">
        <div class="card flex justify-content-center">
              <p-dropdown 
              [options]="showProjectMembers" 
              [(ngModel)]="newTask.assignedTo" 
              optionLabel="name" 
              optionValue="id" 
              placeholder="Select Member" 
              [disabled]="roleId==3"
              required
              />
      </div>
      <div class="p-field mt-2">
        <div class="card flex justify-content-center">
              <p-dropdown 
              [options]="priorityList" 
              [(ngModel)]="newTask.priority" 
              placeholder="Select priority" 
              optionLabel="prioState"
              optionValue="prioState"
              [disabled]="roleId==3"
              required
              />
      </div>
      </div>
    </div>
    </div>
    @if(roleId==2){
      <div class="p-dialog-footer p-0 mt-2 ">
        <p-button label="Cancel" styleClass="btn btn-danger me-2" (click)="visible = false"></p-button>
        <p-button 
        [disabled]="!isTaskValid()"
        [label]="editMood ? 'Update':'Save' "
        styleClass="btn btn-success" 
        (onClick)="editMood ? updateTask(newTask.cardId!, newTask):createTask(projectId, 'To-Do')"
        severity="success">
      </p-button>      
    </div>
    }
  </p-dialog>
@if(roleId ==2){
    <div class="d-flex flex-column gap-2 justify-content-center align-items-start pt-5 ">
      <button class="btn btn-primary w-100" (click)="addMembersToProject()" > Add Members To Project</button>
      <p-multiSelect 
      [options]="Allmembers" 
      [(ngModel)]="projectMembers" 
      optionLabel="name" 
      optionValue="userId" 
      placeholder="Select Members" 
      required>
      </p-multiSelect>
      <p *ngIf='success' class="alert alert-success "> successfully added </p>

      <div class="d-flex flex-column gap-2 justify-content-center align-items-start w-100">
        <button class="btn btn-primary" (click)="removeMember(projectId,userToRemove)" > remove Members from Project</button>
          <p-dropdown 
            [options]="showProjectMembers" 
            optionLabel="name" 
            [(ngModel)]="userToRemove"
            optionValue="id"
            placeholder="Select Member" 
            required>
          </p-dropdown>
        <p *ngIf='removeSuccess' class="alert alert-success "> successfully removed </p>
      </div>
  </div>
   }

</div>
